body {
  background: #f8f6eb;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

  
  
  
}

h2.head-title {
  font-weight: 400;
  border-left: 3px solid #ff0052;
  padding-left: 10px;
}
a{
	color: #fe3452;
} 
a:hover{
	background-color:transparent;
	color: #fedede
}

.uk-homepage-background {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);

}

.content {
  
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 13em;
  left: 0;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  
}

.lightbox{
	background-color: rgba(0, 0, 0, 0.70);
	padding: 20px 20px 50px 20px;
	border-radius: 15px;
	max-width:70%;
	margin:0 auto;
}

.search-box-instructions {	
	color: #FFFFFF;
	font-size: 1.4em;
	padding: 0 0 15px 0;
}

.uk-footer {
  font-size: 0.9em;
}

.uk-footer h3 {
  font-size: 1.2em;
  margin: 0;
  font-weight:bold;
}

.uk-footer ul, {	
  margin: 0 0 10px 0;
  padding: 0 0 0 5px;
}

.uk-footer li {
 list-style-type: none;
 padding: 0 0 0 10px;
}

nav.uk-navbar {	
	background:transparent !important;
	min-height: 50px;
}

ul.uk-navbar-nav{
	float:right !important;
}

.uk-container-full-width.lefiores-header{  
  z-index: 99;
  background-color: #fcfcf7;
  box-shadow: 0 5px 5px rgba(0,0,0,.05);
}

.lefiores-subnav {
	vertical-align: bottom;
	line-height:155px;
	margin: 0 20px 0 0;
}

.lefiores-subnav li a{
	font-size: 1.6em;
}

.lefiores-subnav li a:hover {
	background-color: transparent !important;
}

.florist-login, .florist-login h2{
	color: #FFFFFF;	
}

.florist-features, .florist-features h2{
	color: #FFFFFF;
}

.black-transparent-bg {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px 20px 50px;
	border-radius: 15px;
	max-width: 70%;
	margin: 0px auto;
}

.uk-form-password {
	display: inline-block;
	position: relative;
	width: 100%;
}

.uk-form-password-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
    font-size: 13px;
    line-height: 13px;
    color: #999;
}

.uk-tab > li.uk-active > a {
  border-color: #FBF8F8 #FDFBFB transparent !important;
  background: #00a8e6 !important; 
  color: #fff !important; 
}

.lefiores-breadcrumb{
  background-color: #fff;
  border: 1px solid #f3f1e6;
  border-radius: 0;
  padding: 12px 20px !important;
  text-transform: uppercase;
}
/*
Product info css
*/
.lefiores-product-info{
	font-family: 'Open Sans', Arial, sans-serif;
	padding-bottom: 7px;
  
}

.lefiores-product-info h1 {
  border-bottom: 1px solid #d8d6cc;
  margin-bottom: 20px;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 1.2;
  color: #968e5f;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', Arial, sans-serif;
  
}

.lefiores-product-info .lefiores-description .lefiores-product-section {
  color: #909090;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 20px;
}

.lefiores-product-info .lefiores-description .lefiores-product-section a {
  color: #968e5f;
}
.lefiores-product-info .lefiores-description .lefiores-product-section span {
  color: #6c6c6c;
}
.lefiores-product-info .lefiores-price {
  text-transform: uppercase;
  font-size: 13px;
  border-top: 1px solid #d8d6cc;
  padding: 23px 0;
  margin-bottom: 20px;
}

/*PRICE*/
.lefiores-product-info .lefiores-text-price {
  color: #6c6c6c;
  margin-right: 5px;
  font-family: 'Open Sans',Arial,sans-serif;
}

.lefiores-product-info .lefiores-price .lefiores-price-val {
  font-size: 26px;
  margin-right: 8px;
  font-family: 'Lobster',Arial,cursive;
  line-height: 31px;
  color: #eb5f60;
}

.lefiores-tabs .lefiores-tab-heading {
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 10px;
  text-align: center;
  background: #eb5f60;
  margin-bottom: 35px;
}
.lefiores-tabs .lefiores-tab-content{
	color: #909090;
}
.lefiores-calendar{
	background-color: white;
}
.lefiores-calendar .uk-panel.uk-panel-box{
	background-color: transparent;
}

